.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 16px 0;

}

.navbar__logo{
    width: 89px;
}

.navbar__get-started{
    width: 140px;
    height: 48px;
    background: #13183F;
    border-radius: 28px;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    border: none;
}

.navbar__get-started:hover{
    background-color: #666CA3;
}

@media(min-width: 768px){
    .navbar{
        margin: 24px 40px 0;
    }
}

@media(min-width: 1400px){
    .navbar{
        margin: 0 auto;
        padding: 24px 165px 0;
    }

    .navbar__logo{
        width: 111.17px;
    }

    .navbar__get-started{
        width: 167px;
        height: 56px;
    }
}